/*
style.css
---------

Par Sneezy5
*/

* {
    font-size: 1.3em;
}

#p2 {
    font-weight: bold;
}

strong {
    font-weight: normal;
}
#underline {
    text-decoration: underline;
}
#line-through {
    text-decoration: line-through;
}
#overline {
    text-decoration: overline;
}
#blink {
    text-decoration: blink;
}
#none {
    text-decoration: none;
}
