/*
style.css
---------

Par Sneezy5
*/

p
{
    font-size: small;
}
h1
{
    font-size: xx-large;
}
/* Autres termes:
xx-small: minuscule ;
x-small: très petit ;
small: petit ;
medium: moyen ;
large: grand ;
x-large: très grand ;
xx-large: euh… gigantesque.
*/
